{% extends "layout.html" %}

{% block content %}


<br />

<div class="jumbotron">
    <center>
        <img src="../static/images/logo/reliable.jpg" alt="lw" style="width:20%">
        <img src="../static/images/logo/lockwood.jpg" alt="lw" style="width:20%">
    </center>
</div>

<div class="row">

    <div class="col-md-4">
        <center>
            <br />
            <img src="../static/images/rainbow.jpg" alt="lw" style="width:100%">
            <br />
        </center>
    </div>

    <div class="col-md-4">
        <center>
            <br />
            <img src="../static/images/logo/feed.jpg" alt="lw" style="width:100%">
            <br />
            <img src="../static/images/art.jpg" alt="lw" style="width:100%">
            <br />
        </center>
        <br />
    </div>

    <div class="col-md-4">
        <center>
            <br />
            <img src="../static/images/building2.jpg" alt="lw" style="width:100%">
            <br />
        </center>
    </div>
</div>

    {% endblock %}
