{% extends "layout.html" %}

{% block content %}

<br />

<div class="jumbotron">


    <center><img src="../static/images/logo/lockwood.jpg" alt="lw" style="width:20%"></center>


</div>

<div class="container">

    <div class="gallery-wrap">
        <div class="item item-1"></div>
        <div class="item item-2"></div>
        <div class="item item-3"></div>
        <div class="item item-4"></div>
        <div class="item item-5"></div>
        <div class="item item-6"></div>
        <div class="item item-7"></div>
    </div>
</div>

<div class="social">

    <a href="https://www.instagram.com/lockwoodcafe/" target="_blank">
        <img src="../static/images/logo/instagram.jpg" alt="ig">
    </a>
    <br />
    <a href="https://www.facebook.com/lockwoodcafe/" target="_blank">
        <img src="../static/images/logo/facebook.jpg" alt="fb">
    </a>
    <br />
    <a href="https://www.yelp.com/biz/lockwood-cafe-ames/" target="_blank">
        <img src="../static/images/logo/yelp.jpg" alt="ig">
    </a>

</div>



<body>

    <div class="row">
        <div class="col-md-4">
            <center>
                <h2>Hours</h2>
                <p>

                    Mon - Closed <br />
                    Tue - 8:00 AM - 3:00 PM <br />
                    Wed - 8:00 AM - 3:00 PM <br />
                    Thu - 8:00 AM - 3:00 PM <br />
                    Fri - 8:00 AM - 3:00 PM <br />
                    Sat - 8:00 AM - 3:00 PM <br />
                    Sun - 8:00 AM - 3:00 PM <br />
                    <br />
                    4625 Reliable St
                    Ames, IA 50014
                    (415) 261-7001

                </p>
                <br />
                <p><a class="btn btn-default" href="https://www.yelp.com/biz/lockwood-cafe-ames">Yelp &raquo;</a></p>
                <br />
            </center>

            <img src="../static/images/cafe/cafe5.jpg" style="width:100%" id="bubble_style">
            <br />
            <br />
            <center>
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="300" height="250" id="gmap_canvas"
                                src="https://maps.google.com/maps?q=4625%20Reliable%20St,%20Ames,%20IA&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                        </iframe><a href="https://fmovies-online.net">fmovies</a><br>
                    </div>
                </div>
            </center>
        </div>


        <div class="col-md-4">
            <center> <h2>Menu</h2></center>
            <br />

            <img src="../static/images/menu.jpg" alt="menu" style="width:100%">
            <img src="../static/images/menu2.jpg" alt="menu2" style="width:100%">
            <br />
            <br />

        </div>


        <div class="col-md-4">
            <center>
                <center>
                    <h2>Creativity, community & coffee</h2>
                    <p>Reliable Street, Lockwood Cafe continue to build connections during pandemic<p>
                    <p>
                        <br />
                        <a class="btn btn-default" href=" https://www.iowastatedaily.com/news/lockwood-cafe-and-reliable-street-gallery-create-community-through-shared-spaces/article_93e71a88-8d34-11ec-959d-2bef45159329.html
">Iowa State Daily &raquo;</a>
                        <br />
                    </p>
                </center>
                <br />
                <br />
                <center>
                    <h2>Iowa State Daily</h2>
                    <p>Lockwood Cafe and Reliable Street Gallery create community through shared spaces<p>
                        <br />
                    <p><a class="btn btn-default" href="https://www.iowastatedaily.com/news/lockwood-cafe-and-reliable-street-gallery-create-community-through-shared-spaces/article_93e71a88-8d34-11ec-959d-2bef45159329.html">Read more.. &raquo;</a></p>
                    <br />
                </center>
            </center>
            <img src="../static/images/cafe/cafe22.jpg" style="width:100%" id="bubble_style">
            <br />
            <br />
        </div>
    </div>

    <div class="row">

        <div class="column">
            <img src="../static/images/cafe/cafe2.jpg" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor" >
        </div>
        <div class="column">
            <img src="../static/images/cafe/cafe3.jpg" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../static/images/cafe/cafe4.jpg" style="width:100%" onclick="openModal();currentSlide(3)" class="hover-shadow cursor" >
        </div>
        <div class="column">
            <img src="../static/images/cafe/cafe8.jpg" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow cursor" >
        </div>
        <div class="column">
            <img src="../static/images/cafe/cafe9.jpg" style="width:100%" onclick="openModal();currentSlide(5)" class="hover-shadow cursor" >
        </div>
        <div class="column">
            <img src="../static/images/cafe/cafe10.jpg" style="width:100%" onclick="openModal();currentSlide(6)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../static/images/cafe/cafe11.jpg" style="width:100%" onclick="openModal();currentSlide(7)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../static/images/cafe/cafe12.jpg" style="width:100%" onclick="openModal();currentSlide(8)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../static/images/cafe/cafe13.jpg" style="width:100%" onclick="openModal();currentSlide(9)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../static/images/cafe/cafe15.jpg" style="width:100%" onclick="openModal();currentSlide(10)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../static/images/cafe/cafe16.jpg" style="width:100%" onclick="openModal();currentSlide(11)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../static/images/cafe/cafe17.jpg" style="width:100%" onclick="openModal();currentSlide(12)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../static/images/cafe/cafe18.jpg" style="width:100%" onclick="openModal();currentSlide(13)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../static/images/cafe/cafe19.jpg" style="width:100%" onclick="openModal();currentSlide(14)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../static/images/cafe/cafe20.jpg" style="width:100%" onclick="openModal();currentSlide(15)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../static/images/cafe/cafe21.jpg" style="width:100%" onclick="openModal();currentSlide(16)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../static/images/cafe/cafe6.jpg" style="width:100%" onclick="openModal();currentSlide(17)" class="hover-shadow cursor">
        </div>

    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close cursor" onclick="closeModal()">&times;</span>

            <div class="mySlides">
                <div class="numbertext">1 / 17</div>
                <img src="../static/images/cafe/cafe2.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">2 / 17</div>
                <img src="../static/images/cafe/cafe3.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">3 / 17</div>
                <img src="../static/images/cafe/cafe4.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">4 / 17</div>
                <img src="../static/images/cafe/cafe8.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">5 / 17</div>
                <img src="../static/images/cafe/cafe9.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">6 / 17</div>
                <img src="../static/images/cafe/cafe10.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">7 / 17</div>
                <img src="../static/images/cafe/cafe11.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">8 / 17</div>
                <img src="../static/images/cafe/cafe12.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">9 / 17</div>
                <img src="../static/images/cafe/cafe13.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">10 / 17</div>
                <img src="../static/images/cafe/cafe15.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">11 / 17</div>
                <img src="../static/images/cafe/cafe16.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">12 / 17</div>
                <img src="../static/images/cafe/cafe17.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">13 / 17</div>
                <img src="../static/images/cafe/cafe18.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">14 / 17</div>
                <img src="../static/images/cafe/cafe19.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">15 / 17</div>
                <img src="../static/images/cafe/cafe20.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">16 / 17</div>
                <img src="../static/images/cafe/cafe21.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">17 / 17</div>
                <img src="../static/images/cafe/cafe6.jpg" style="width:100%">
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
  
        </div>
    </div>

</body>


            {% endblock %}
