{% extends "layout.html" %}

{% block content %}

<br />

<div class="jumbotron">
    <center><img src="../static/images/logo/rx.jpg" alt="rs" style="width:20%"></center>

</div>



<body>

    <div class="row">
        <div class="column">
            <img src="../static/images/purplegreen.jpg" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../static/images/djElliot.jpg" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../static/images/peonies.jpg" style="width:100%" onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../static/images/sculpture.jpg" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
        </div>

        <div class="column">
            <img src="../static/images/yoga.jpg" style="width:100%" onclick="openModal();currentSlide(5)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../static/images/construction.jpg" style="width:100%" onclick="openModal();currentSlide(6)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../static/images/class.jpg" style="width:100%" onclick="openModal();currentSlide(7)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../static/images/carousel.jpg" style="width:100%" onclick="openModal();currentSlide(8)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../static/images/theatre.jpg" style="width:100%" onclick="openModal();currentSlide(9)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../static/images/cafe/cafe3.jpg" style="width:100%" onclick="openModal();currentSlide(10)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../static/images/microphone.jpg" style="width:100%" onclick="openModal();currentSlide(11)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../static/images/tickets.jpg" style="width:100%" onclick="openModal();currentSlide(12)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../static/images/doboyvintage.jpg" style="width:100%" onclick="openModal();currentSlide(13)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../static/images/palm.jpg" style="width:100%" onclick="openModal();currentSlide(14)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../static/images/lindsey.jpg" style="width:100%" onclick="openModal();currentSlide(15)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../static/images/mathansen.jpg" style="width:100%" onclick="openModal();currentSlide(16)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../static/images/acting.jpg" style="width:100%" onclick="openModal();currentSlide(17)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../static/images/garagelight.jpg" style="width:100%" onclick="openModal();currentSlide(18)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../static/images/canvas.jpg" style="width:100%" onclick="openModal();currentSlide(19)" class="hover-shadow cursor">
        </div>



    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close cursor" onclick="closeModal()">&times;</span>


            <div class="mySlides">
                <div class="numbertext">1 / 19</div>
                <img src="../static/images/purplegreen.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">2 / 19</div>
                <img src="../static/images/djElliot.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">3 / 19</div>
                <img src="../static/images/peonies.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">4 / 19</div>
                <img src="../static/images/sculpture.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">5 / 19</div>
                <img src="../static/images/yoga.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">6 / 19</div>
                <img src="../static/images/construction.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">7 / 19</div>
                <img src="../static/images/class.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">8 / 19</div>
                <img src="../static/images/carousel.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">9 / 19</div>
                <img src="../static/images/theatre.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">10 / 19</div>
                <img src="../static/images/cafe/cafe3.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">11 / 19</div>
                <img src="../static/images/microphone.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">12 / 19</div>
                <img src="../static/images/tickets.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">13 / 19</div>
                <img src="../static/images/doboyvintage.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">14 / 19</div>
                <img src="../static/images/palm.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">15 / 19</div>
                <img src="../static/images/lindsey.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">16 / 19</div>
                <img src="../static/images/mathansen.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">17 / 19</div>
                <img src="../static/images/acting.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">18 / 19</div>
                <img src="../static/images/garagelight.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">19 / 19</div>
                <img src="../static/images/canvas.jpg" style="width:100%">
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <!-- <div class="caption-container">
        <p id="caption"></p>
    </div>-->


            <div class="column">
                <img class="demo cursor" src="../static/images/purplegreen.jpg" style="width:100%" onclick="currentSlide(1)" alt="pg">
            </div>
            <div class="column">
                <img class="demo cursor" src="../static/images/djElliot.jpg" style="width:100%" onclick="currentSlide(2)" alt="dj">
            </div>
            <div class="column">
                <img class="demo cursor" src="../static/images/peonies.jpg" style="width:100%" onclick="currentSlide(3)" alt="peonies">
            </div>
            <div class="column">
                <img class="demo cursor" src="../static/images/sculpture.jpg" style="width:100%" onclick="currentSlide(4)" alt="dj">
            </div>
            <div class="column">
                <img class="demo cursor" src="../static/images/yoga.jpg" style="width:100%" onclick="currentSlide(5)" alt="yoga">
            </div>
            <div class="column">
                <img class="demo cursor" src="../static/images/construction.jpg" style="width:100%" onclick="currentSlide(6)" alt="construct">
            </div>
            <div class="column">
                <img class="demo cursor" src="../static/images/class.jpg" style="width:100%" onclick="currentSlide(7)" alt="dbportrait">
            </div>
            <div class="column">
                <img class="demo cursor" src="../static/images/carousel.jpg" style="width:100%" onclick="currentSlide(8)" alt="dj">
            </div>
            <div class="column">
                <img class="demo cursor" src="../static/images/theatre.jpg" style="width:100%" onclick="currentSlide(9)" alt="dbportrait">
            </div>
            <div class="column">
                <img class="demo cursor" src="../static/images/cafe/cafe3.jpg" style="width:100%" onclick="currentSlide(10)" alt="queer">
            </div>
            <div class="column">
                <img class="demo cursor" src="../static/images/microphone.jpg" style="width:100%" onclick="currentSlide(11)" alt="queer">
            </div>
            <div class="column">
                <img class="demo cursor" src="../static/images/tickets.jpg" style="width:100%" onclick="currentSlide(12)" alt="peonies">
            </div>
            <div class="column">
                <img class="demo cursor" src="../static/images/doboyvintage.jpg" style="width:100%" onclick="currentSlide(13)" alt="dj">
            </div>
            <div class="column">
                <img class="demo cursor" src="../static/images/palm.jpg" style="width:100%" onclick="currentSlide(14)" alt="peonies">
            </div>
            <div class="column">
                <img class="demo cursor" src="../static/images/lindsey.jpg" style="width:100%" onclick="currentSlide(15)" alt="peonies">
            </div>
            <div class="column">
                <img class="demo cursor" src="../static/images/mathansen.jpg" style="width:100%" onclick="currentSlide(16)" alt="hansen">
            </div>
            <div class="column">
                <img class="demo cursor" src="../static/images/acting.jpg" style="width:100%" onclick="currentSlide(17)" alt="queer">
            </div>
            <div class="column">
                <img class="demo cursor" src="../static/images/garagelight.jpg" style="width:100%" onclick="currentSlide(18)" alt="peonies">
            </div>
            <div class="column">
                <img class="demo cursor" src="../static/images/canvas.jpg" style="width:100%" onclick="currentSlide(19)" alt="peonies">
            </div>
        </div>
    </div>
</body>

    {% endblock %}
